.u-section-1 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-1 .u-image-1 {
  width: 1484px;
  height: 835px;
  margin: 13px -172px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 529px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 64px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 13px auto;
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 0px 0px 8px rgba(61,135,255,1) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 0px 0px 8px rgba(61,135,255,1) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 218px;
}

.u-section-3 .u-image-1 {
  width: 321px;
  height: 160px;
  transition-duration: 0.25s;
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  animation-timing-function: ease;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 37px 0px rgba(0,0,0,1);
  --animation-custom_in-scale: 1;
  filter: brightness(0.55);
  margin: 14px auto 0;
}

.u-section-3 .u-image-2 {
  width: 321px;
  height: 160px;
  transition-duration: 0.25s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -160px auto 0 53px;
}

.u-section-3 .u-image-3 {
  width: 321px;
  height: 160px;
  transition-duration: 0.25s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  animation-timing-function: ease;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -160px 53px 44px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 161px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-image-2 {
    margin-top: -161px;
  }

  .u-section-3 .u-image-3 {
    height: 161px;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-2 {
    margin-left: 19px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 19px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 0px 0px 36px 0px rgba(114,239,233,1) !important;
  border-radius: 24px !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 0px 0px 36px 0px rgba(114,239,233,1) !important;
  border-radius: 24px !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 0px 0px 38px 0px rgba(147,57,255,1) !important;
  border-radius: 25px !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-image-3 {
  border-color: transparent !important;
}

.u-section-3 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 0px 0px 38px 0px rgba(147,57,255,1) !important;
  border-radius: 25px !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-image-3 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}.u-section-4 .u-sheet-1 {
  min-height: 64px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 13px auto;
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 0px 0px 8px rgba(61,135,255,1) !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 0px 0px 8px rgba(61,135,255,1) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 329px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 228px;
  transition-duration: 0.25s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0 -27px;
}

.u-section-5 .u-text-1 {
  font-weight: 500;
  text-shadow: 0px 0px 11px rgba(219,84,90,1);
  margin: 16px auto 0 95px;
}

.u-section-5 .u-image-2 {
  width: 570px;
  height: 228px;
  transition-duration: 0.25s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -283px -26px 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 500;
  text-shadow: 0px 0px 11px rgba(119,170,217,1);
  margin: 16px 88px 30px auto;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 216px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 216px;
    margin-top: -271px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 136px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 201px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 136px;
    margin-top: -236px;
  }
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before,
.u-section-5 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 0px 0px 40px 0px rgba(219,84,90,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1.05) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-image-1 {
  border-color: transparent !important;
}

.u-section-5 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 0px 0px 40px 0px rgba(219,84,90,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1.05) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-image-1 {
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-2,
.u-section-5 .u-image-2:before,
.u-section-5 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 0px 0px 40px 0px rgba(119,170,217,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1.05) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-image-2 {
  border-color: transparent !important;
}

.u-section-5 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 0px 0px 40px 0px rgba(119,170,217,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1.05) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-image-2 {
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-6 .u-sheet-1 {
  min-height: 66px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 14px auto;
}

.u-section-6 .u-text-1,
.u-section-6 .u-text-1:before,
.u-section-6 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 0px 0px 8px rgba(61,135,255,1) !important;
}

.u-section-6 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 0px 0px 8px rgba(61,135,255,1) !important;
}.u-section-7 .u-sheet-1 {
  min-height: 876px;
}

.u-section-7 .u-image-1 {
  width: 415px;
  height: 795px;
  box-shadow: 0px 0px 22px 0px rgba(0,0,0,1);
  transition-duration: 0.25s;
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 31px auto 0 -295px;
}

.u-section-7 .u-image-2 {
  width: 415px;
  height: 795px;
  box-shadow: 0px 0px 22px 0px rgba(0,0,0,1);
  transition-duration: 0.25s;
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -795px auto 0 143px;
}

.u-section-7 .u-image-3 {
  width: 415px;
  height: 795px;
  box-shadow: 0px 0px 22px 0px rgba(0,0,0,1);
  transition-duration: 0.25s;
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -795px 143px 0 auto;
}

.u-section-7 .u-image-4 {
  width: 415px;
  height: 795px;
  box-shadow: 0px 0px 22px 0px rgba(0,0,0,1);
  transition-duration: 0.25s;
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -795px -296px 50px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-2 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-2 {
    margin-left: 125px;
  }

  .u-section-7 .u-image-3 {
    margin-right: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 652px;
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    width: 340px;
    height: 652px;
    margin-top: -652px;
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    margin-top: -652px;
  }
}

.u-section-7 .u-image-1,
.u-section-7 .u-image-1:before,
.u-section-7 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 0px 0px 40px 12px rgba(0,0,0,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-7 .u-image-1 {
  border-color: transparent !important;
}

.u-section-7 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 0px 0px 40px 12px rgba(0,0,0,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-7 .u-image-1 {
  border-color: transparent !important;
}

.u-section-7 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-image-2,
.u-section-7 .u-image-2:before,
.u-section-7 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 0px 0px 40px 12px rgba(0,0,0,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-7 .u-image-2 {
  border-color: transparent !important;
}

.u-section-7 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 0px 0px 40px 12px rgba(0,0,0,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-7 .u-image-2 {
  border-color: transparent !important;
}

.u-section-7 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-image-3,
.u-section-7 .u-image-3:before,
.u-section-7 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 0px 0px 40px 12px rgba(0,0,0,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-7 .u-image-3 {
  border-color: transparent !important;
}

.u-section-7 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 0px 0px 40px 12px rgba(0,0,0,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-7 .u-image-3 {
  border-color: transparent !important;
}

.u-section-7 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-image-4,
.u-section-7 .u-image-4:before,
.u-section-7 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: 0px 0px 40px 12px rgba(0,0,0,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-7 .u-image-4 {
  border-color: transparent !important;
}

.u-section-7 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: 0px 0px 40px 12px rgba(0,0,0,1) !important;
  border-radius: 23px !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-7 .u-image-4 {
  border-color: transparent !important;
}

.u-section-7 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.gradientblock {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 50% 50%;
 background: linear-gradient(45deg,#75ffba, #34f1ff);
    background-size: 200% 100%;
    animation: gradient 2s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
.ytb {
  position: relative;
  opacity: 1; 
}
.ytt {
  opacity: 0;
  transition: opacity 1s; 
}
.ytb:hover + .ytt {
  opacity: 1; 
}
.db {
  position: relative;
  opacity: 1; 
}
.dt {
  opacity: 0;
  transition: opacity 1s; 
}
.db:hover + .dt {
  opacity: 1; 
}
.header {
  opacity: 0.01;
  filter: blur(5px);
}