.u-section-1 .u-sheet-1 {
  min-height: 574px;
}

.u-section-1 .u-image-1 {
  width: 1070px;
  height: 458px;
  margin: -13px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 145px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 102px;
}

.u-section-2 .u-text-1 {
  margin: 12px auto 12px 71px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 375px;
}

.u-section-3 .u-image-1 {
  width: 500px;
  height: 250px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 63px auto 0 53px;
}

.u-section-3 .u-text-1 {
  transition-duration: 0.5s;
  letter-spacing: 0px;
  font-weight: 600;
  margin: -249px 1520px 0 1358px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 15px 1543px 60px 1139px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 36px;
    margin-left: 450px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 7px;
    margin-right: 12px;
    margin-left: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 440px;
    height: 221px;
    margin-top: 133px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -320px;
    margin-left: 371px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 261px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 120px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -307px;
    margin-left: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-3 .u-image-1 {
    height: 170px;
    margin-top: 193px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -294px;
    margin-left: 134px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 210px;
    margin-bottom: 30px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.2) rotate(5deg) !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.2) rotate(5deg) !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  opacity: 1 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  opacity: 1 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  color: #003d9f !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  color: #003d9f !important;
}.u-section-4 .u-sheet-1 {
  min-height: 12px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 370px;
}

.u-section-5 .u-text-1 {
  font-weight: 600;
  transition-duration: 0.5s;
  margin: 60px auto 0 92px;
}

.u-section-5 .u-image-1 {
  width: 500px;
  height: 250px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -79px auto 0 1396px;
}

.u-section-5 .u-text-2 {
  font-weight: normal;
  margin: -150px auto 60px 76px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-text-1 {
    margin-top: -41px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 22px;
    margin-right: 15px;
    margin-left: 640px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-left: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 170px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -257px;
  }
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before,
.u-section-5 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.2) rotate(355deg) !important;
}

.u-section-5 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.2) rotate(355deg) !important;
}

.u-section-5 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-5 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-5 .u-text-1,
.u-section-5 .u-text-1:before,
.u-section-5 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff6500 !important;
}

.u-section-5 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff6500 !important;
}.u-section-6 .u-sheet-1 {
  min-height: 13px;
}.u-section-7 .u-sheet-1 {
  min-height: 304px;
}

.u-section-7 .u-image-1 {
  width: 1720px;
  height: 224px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 40px auto 40px 93px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-7 .u-image-1 {
    width: 1140px;
    height: 148px;
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 93px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 44px;
  }
}

.u-section-7 .u-image-1,
.u-section-7 .u-image-1:before,
.u-section-7 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.09) rotate(3deg) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.09) rotate(3deg) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-8 .u-sheet-1 {
  min-height: 13px;
}.u-section-9 .u-sheet-1 {
  min-height: 596px;
}

.u-section-9 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 600;
  transition-duration: 0.5s;
  margin: 23px auto 0 23px;
}

.u-section-9 .u-image-1 {
  width: 500px;
  height: 250px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -66px auto 0 612px;
}

.u-section-9 .u-image-2 {
  width: 500px;
  height: 250px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -250px auto 0 1162px;
}

.u-section-9 .u-text-2 {
  margin: -176px auto 0 23px;
}

.u-section-9 .u-btn-1 {
  transition-duration: 5s;
  padding: 0;
}

.u-section-9 .u-image-3 {
  width: 500px;
  height: 250px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -125px auto 0 612px;
}

.u-section-9 .u-image-4 {
  width: 500px;
  height: 250px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -250px auto 23px 1162px;
}

@media (max-width: 1399px) {
  .u-section-9 .u-image-2 {
    margin-left: 640px;
  }

  .u-section-9 .u-image-4 {
    margin-left: 640px;
  }
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    margin-left: 440px;
  }

  .u-section-9 .u-image-2 {
    margin-left: 440px;
  }

  .u-section-9 .u-image-3 {
    margin-left: 440px;
  }

  .u-section-9 .u-image-4 {
    margin-left: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-1 {
    margin-left: 220px;
  }

  .u-section-9 .u-image-2 {
    margin-left: 220px;
  }

  .u-section-9 .u-image-3 {
    margin-left: 220px;
  }

  .u-section-9 .u-image-4 {
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-image-1 {
    margin-left: 40px;
  }

  .u-section-9 .u-image-2 {
    margin-left: 40px;
  }

  .u-section-9 .u-image-3 {
    margin-left: 40px;
  }

  .u-section-9 .u-image-4 {
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 170px;
    margin-left: 0;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 170px;
    margin-top: -170px;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-top: -96px;
  }

  .u-section-9 .u-image-3 {
    width: 340px;
    height: 170px;
    margin-left: 0;
  }

  .u-section-9 .u-image-4 {
    width: 340px;
    height: 170px;
    margin-top: -170px;
    margin-left: 0;
  }
}

.u-section-9 .u-btn-1,
.u-section-9 .u-btn-1:before,
.u-section-9 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-image-1,
.u-section-9 .u-image-1:before,
.u-section-9 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) rotate(3deg) !important;
  opacity: 0.95 !important;
}

.u-section-9 .u-image-1 {
  border-color: transparent !important;
}

.u-section-9 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) rotate(3deg) !important;
  opacity: 0.95 !important;
}

.u-section-9 .u-image-1 {
  border-color: transparent !important;
}

.u-section-9 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-9 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-9 .u-image-2,
.u-section-9 .u-image-2:before,
.u-section-9 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) rotate(357deg) !important;
  opacity: 0.95 !important;
}

.u-section-9 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) rotate(357deg) !important;
  opacity: 0.95 !important;
}

.u-section-9 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-9 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-9 .u-image-4,
.u-section-9 .u-image-4:before,
.u-section-9 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) rotate(8deg) !important;
  opacity: 0.95 !important;
}

.u-section-9 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) rotate(8deg) !important;
  opacity: 0.95 !important;
}

.u-section-9 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-9 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-9 .u-image-3,
.u-section-9 .u-image-3:before,
.u-section-9 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) rotate(354deg) !important;
  opacity: 0.95 !important;
}

.u-section-9 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) rotate(354deg) !important;
  opacity: 0.95 !important;
}

.u-section-9 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-9 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-9 .u-text-1,
.u-section-9 .u-text-1:before,
.u-section-9 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-text-1.u-text-1.u-text-1:hover {
  color: #ffaa00 !important;
}

.u-section-9 .u-text-1.u-text-1.u-text-1.hover {
  color: #ffaa00 !important;
}.u-section-10 .u-sheet-1 {
  min-height: 13px;
}.u-section-11 .u-sheet-1 {
  min-height: 404px;
}

.u-section-11 .u-text-1 {
  font-weight: 400;
  margin: 20px auto 0 493px;
}

.u-section-11 .u-image-1 {
  width: 479px;
  height: 224px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 20px auto 0 1232px;
}

.u-section-11 .u-image-2 {
  width: 460px;
  height: 215px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -224px auto 0 42px;
}

.u-section-11 .u-image-3 {
  width: 460px;
  height: 215px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -215px auto 60px 637px;
}

@media (max-width: 1399px) {
  .u-section-11 .u-text-1 {
    margin-top: -494px;
    margin-left: 163px;
  }

  .u-section-11 .u-image-1 {
    height: 223px;
    margin-top: 36px;
    margin-left: 661px;
  }

  .u-section-11 .u-image-2 {
    margin-top: -329px;
  }

  .u-section-11 .u-image-3 {
    margin-top: -236px;
  }
}

@media (max-width: 1199px) {
  .u-section-11 .u-image-1 {
    margin-left: 461px;
  }

  .u-section-11 .u-image-3 {
    margin-left: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-image-1 {
    margin-top: -43px;
    margin-left: 241px;
  }

  .u-section-11 .u-image-2 {
    margin-top: -250px;
  }

  .u-section-11 .u-image-3 {
    margin-left: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-image-1 {
    margin-top: -83px;
    margin-left: 61px;
  }

  .u-section-11 .u-image-2 {
    margin-top: -163px;
  }

  .u-section-11 .u-image-3 {
    margin-left: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -438px;
    margin-left: 103px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 158px;
    margin-top: -41px;
    margin-left: 0;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 159px;
    margin-top: -99px;
    margin-left: 0;
  }

  .u-section-11 .u-image-3 {
    width: 340px;
    height: 159px;
    margin-top: -175px;
    margin-left: 0;
  }
}

.u-section-11 .u-image-2,
.u-section-11 .u-image-2:before,
.u-section-11 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-11 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.2) !important;
}

.u-section-11 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.2) !important;
}

.u-section-11 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-11 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-11 .u-image-3,
.u-section-11 .u-image-3:before,
.u-section-11 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-11 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.2) !important;
}

.u-section-11 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.2) !important;
}

.u-section-11 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-11 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-11 .u-image-1,
.u-section-11 .u-image-1:before,
.u-section-11 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-11 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.2) !important;
}

.u-section-11 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.2) !important;
}

.u-section-11 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-11 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.block {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #52faca 0%, #60f7fc 25%, 
#52c0f7 51%, #5278f7 100%);
  -webkit-animation: AnimateBLOCK 5s ease infinite;
          animation: AnimateBLOCK 5s ease infinite;
}
@-webkit-keyframes AnimateBLOCK {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimateBLOCK {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.msc {
}
}
}
.tb {
}