.u-section-1 .u-sheet-1 {
  min-height: 574px;
}

.u-section-1 .u-image-1 {
  width: 1070px;
  height: 458px;
  margin: -13px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 145px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 399px;
}

.u-section-2 .u-image-1 {
  width: 500px;
  height: 250px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 60px auto 60px 74px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-image-1 {
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 440px;
    height: 221px;
    margin-top: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-2 .u-image-1 {
    height: 170px;
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.2) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.2) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  opacity: 1 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  opacity: 1 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.block {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #52faca 0%, #60f7fc 25%, 
#52c0f7 51%, #5278f7 100%);
  -webkit-animation: AnimateBLOCK 5s ease infinite;
          animation: AnimateBLOCK 5s ease infinite;
}
@-webkit-keyframes AnimateBLOCK {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimateBLOCK {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}